{erl_opts, [
  debug_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_export,
  warn_unused_function,
  warn_unused_record,
  warn_deprecated_function,
  warn_deprecated_type,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record,
  fail_on_warning
  ]}.
{deps, []}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{edoc_opts, [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, []},
  {top_level_readme, {"./README.md", "https://github.com/ctbarbour/swim", "master"}}
]}.
{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.
{dialyzer, [
  {warnings, [
    race_conditions,
    error_handling
  ]}
]}.
{plugins, [rebar3_proper]}.
{profiles, [
  {docs, [{deps, [edown]}]},
  {shell, [{deps, [recon, sync]}]},
  {test, [
    {deps, [
      {damocles, {git, "https://github.com/lostcolony/damocles.git", {branch, master}}},
      {proper, "1.2.0"},
      {meck, "0.8.9"}
    ]}
  ]}
]}.
